/*COLORS*/
* {
  font-family: "Arial";
}

h1 {
  font-size: 50px;
  font-weight: 400;
}

.text-section h2 {
  text-align: center;
}

.text-section.bio {
  padding-top: 50px;
}

h2 {
  font-family: "Arial";
  font-size: 28px;
  font-weight: 400;
}

h3 {
  font-family: "Arial";
  font-weight: normal;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 41px;
  padding: 42px;
}

h4 {
  font-family: "Arial";
  font-weight: normal;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  color: #6e6e6e;
}

.first-section-text {
  font-size: 17px;
  padding: 32px;
  line-height: 33px;
  letter-spacing: 0.3px;
  font-weight: 300;
}

/* LOGO */
.logo {
  font-family: "Arial";
  color: #000000;
}

.double {
  color: #e4e464;
  text-decoration: underline;
}

/* TOGGLE */
.main-container {
  z-index: 9999;
  position: fixed;
  top: 50px;
  right: 25px;
  cursor: pointer;
}

.main-container .line-one, .main-container .line-two, .main-container .line-three {
  width: 21px;
  height: 2px;
  background-color: #000;
  border-radius: 5px;
}

.main-container .line-one {
  position: relative;
  bottom: 4px;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.main-container .line-three {
  position: relative;
  top: 4px;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.main-container.active .line-one {
  bottom: -2px;
  transform: rotateZ(-45deg);
  transition: bottom 400ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.main-container.active .line-two {
  background-color: #FFF;
}

.main-container.active .line-three {
  top: -2px;
  transform: rotate(45deg);
  transition: top 400ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

/* NAV */
.nav {
  padding: 32px;
}

.desktop-menu li {
  font-size: 24px;
  padding-right: 8px;
  padding-bottom: 8px;
}

.desktop-menu.active li {
  text-align: center;
  text-transform: uppercase;
  font-size: 48px;
  padding-bottom: 8px;
}

ul {
  font-family: "Arial";
  padding: 0;
  list-style-type: none;
}

ul li a {
  color: #212121;
}

ul li a:hover {
  color: #e4e464;
}

.desktop-menu.active {
  margin-top: 100px;
  display: block;
}

.desktop-menu {
  display: none;
  padding-left: 0px;
}

/* MOBILE NAV BAR */
.desktop-menu.active {
  padding-top: 100px;
  min-height: 100vh;
  height: 100%;
  padding-bottom: 55px;
  z-index: 940;
  overflow-y: scroll;
  max-height: none;
  visibility: visible;
  opacity: 1;
}

.container.active {
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: white;
}

.logo-image.active {
  display: none;
}

.logo-section {
  display: flex;
}

/* Hero*/
.hero-container {
  width: 100%;
  padding-bottom: 40px;
}
.hero-container img {
  width: 100%;
  height: auto;
}
.hero-container .hero-text {
  padding: 16px;
}
.hero-container .hero-text h1 {
  padding-bottom: 8px;
}

/* PROJECTS */
.projects-container {
  width: 100%;
  padding: 16px;
}
.projects-container .project-image-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}
.projects-container .project-image-container:hover {
  cursor: pointer;
}
.projects-container .project-image-container:hover .project-image-inner {
  opacity: 1;
}
.projects-container .project-image-container:hover .project-image-inner p {
  display: block;
  line-height: 250px;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  color: #FFFFFF;
  font-size: 16px;
}
.projects-container .project-image-container .project-image-inner {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 300px;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.projects-container .project-image-container .project-image-inner p {
  display: none;
}
.projects-container .project-image-container img {
  padding-bottom: 16px;
}

@media screen and (min-width: 1024px) {
  .loader {
    width: 500px;
    height: 500px;
  }

  .main-container {
    display: none;
  }

  .logo {
    flex-grow: 1;
  }

  .desktop-menu.active {
    display: flex;
  }

  .nav {
    height: 150px;
    text-transform: uppercase;
    display: flex;
    align-items: baseline;
  }

  .desktop-menu {
    display: flex;
    flex-direction: row;
  }

  .hero-container {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
